<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d5b766d7-e840-42b1-85b6-8f9fa2b28ede" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d5b766d7-e840-42b1-85b6-8f9fa2b28edefileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
